<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-top-line">
      <ion-item lines="none">
        <ion-back-button slot="start" color="light" text="" icon="arrow-back-outline"></ion-back-button>
        <ion-img slot="start" class="logo logo-mobile" src="/assets/img/header/burger-logo.svg"></ion-img>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-content">
    <p class="profil-title">Контакты</p>
    
    <ul>
      <li><ion-img src="/assets/img/more/piont.svg"></ion-img> <ion-text><span>Адрес:</span> город Астана, Актамберди жырау 51 оф 1</ion-text></li>
      <li><ion-img src="/assets/img/more/massage.svg"></ion-img> <ion-text><span>Email:</span> ashimermail.ru</ion-text></li>
      <li><ion-img src="/assets/img/more/phone.svg"></ion-img> <ion-text><span>Телефон:</span> 8 777 100 00 24</ion-text></li>
    </ul>

  </div>
</ion-content>
