<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-top-line">
      <ion-item lines="none">
        <ion-back-button slot="start" color="light" text="" icon="arrow-back-outline"></ion-back-button>
        <ion-img slot="start" class="logo logo-mobile" src="/assets/img/header/burger-logo.svg"></ion-img>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-content">
    <p class="profil-title">О проекте</p>

    <p class="text"><span>Infozakon.kz</span> - Новостной портал Казахстана, только свежие новости со всего мира!</p>
    
    <p class="text">Мы рассказываем о событиях в Казахстане и мире,
       обновляя ленту новостей 24 часа в сутки 7 дней в неделю.
        Мы выбираем самые значимые события и следим за их развитием.</p>

    <p><span>Выходные данные</span></p>
    
    <ul>
      <li><span>Собственник:</span> ТОО «Центр правовой защиты и информации»</li>
      <li><span>Название:</span>Информационное агентство «Infozakon.kz»</li>
      <li><span>Главный редактор:</span>Ашимов М.А.</li>
      <li><span>Адрес:</span>город Астана, Актамберди жырау 51 .оф 1</li>
      <li><span>Телефон:</span>8 777 100 00 24</li>
      <li><span>Почтовый индекс:</span>010000</li>
      <li><span>Email:</span>ashimermail.ru</li>
      <li><span>Номер и дата Свидетельство о постановке на учет:</span>№ KZ17VPY00030763</li>
      <li><span>Дата выдачи:</span>30.12.2020</li>
      <li><span>Наименование выдавшего органа:</span>Министерство информации и общественного развития Республики Казахстан Комитет информации</li>
    </ul>

  </div>
</ion-content>
