.scroll-nav {
    position: relative;
    z-index: 2;
    height: 2.5rem;
    overflow-y: hidden;
    scroll-behavior: smooth;
  
    ul {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1.5rem;
      padding-left: 0;
      margin-block: 0;
      overflow-x: auto;
      list-style: none;
      text-align: center;
      white-space: nowrap;
  
      li {
        margin: 0 10px;
        padding-bottom: 7px;
        color: #ABABAB;
      }
  
      .active {
        color: #252525;
        border-bottom: 3px solid #164B60;
      }
    }
  }


@media screen and (max-width: 720px) {
    .scroll-nav {
      display: block;
    }
  
    ion-card {
  
      .card-content {
        display: flex;
  
        ion-card-header {
          padding-top: 0;
          padding-left: 16px;
        }
      }
    }
  
    .main-news-photo {
      position: relative;
  
      ion-img {
        height: auto;
      }
  
      ion-card-header {
        position: absolute;
        left: 10px;
        bottom: 20px;
  
        ion-item {
          --background: auto;
        }
      }
    }
  
    .news-photo {
      .img-block {
        position: relative;
  
        .category-title {
          width: 30px;
          height: 30px;
        }
      }
  
      ion-img {
        height: 100%;
      }
    }
  
    .news-category {
      .title-category {
        padding: 5px 8px;
        top: 5px;
        left: 5px;
      }
    }
  }