<ion-header color="primary" class="ion-no-border header" [translucent]="true">
  <ion-toolbar>
    <div class="header-top-line">
      <ion-item lines="none">
        <ion-img slot="start" (click)="hiddenShowBurgerMenu()" class="burger-btn" src="/assets/img/header/burger.svg"></ion-img>
        <ion-img slot="start" class="logo logo-web" src="/assets/img/header/logo.svg"></ion-img>
        <ion-img slot="start" class="logo logo-mobile" src="/assets/img/header/burger-logo.svg"></ion-img>
        
        <ion-text slot="end" class="mobile-hidden" color="dark">Политика</ion-text>
        <ion-text slot="end" class="mobile-hidden" color="dark">Правоохранительные органы</ion-text>
        <ion-text slot="end" class="mobile-hidden" color="dark">Гос. органы</ion-text>
        <ion-text slot="end" class="mobile-hidden" color="dark">Суды</ion-text>
        <ion-text slot="end" class="mobile-hidden" color="dark">Жизнь и Общество</ion-text>
        <ion-text slot="end" class="mobile-hidden" color="dark">Фоторепортажи</ion-text>
        <ion-text slot="end" class="mobile-hidden" color="dark">Видео</ion-text>
        <ion-text slot="end" class="mobile-hidden" color="dark">Реклама</ion-text>
      </ion-item>
    </div>

    <ion-item class="info-top" lines="none">
      <ion-icon slot="start" src="/assets/img/header/cloud.svg"></ion-icon>
      <ion-text slot="start">+28°C</ion-text>
      <ion-icon slot="start" src="/assets/img/header/usd.svg"></ion-icon>
      <ion-text slot="start">445.88</ion-text>

      <ion-icon slot="end" class="mobile-hidden" src="/assets/img/icons/search.svg"></ion-icon>
      <ion-text slot="end" class="mobile-hidden">Қаз</ion-text>
      <ion-text slot="end" class="mobile-hidden">Рус</ion-text>
      <ion-text slot="end" class="mobile-hidden">Eng</ion-text>
      <ion-text slot="end" class="mobile-hidden">Qaz</ion-text>
    </ion-item>
  </ion-toolbar>


  <div class="burger-menu" [ngClass]="{'burger-menu__open': showModal}">
    <div class="burger-menu__header">
      <ion-item lines="none">
        <ion-img (click)="hiddenShowBurgerMenu()" src="/assets/img/header/burger-close.svg"></ion-img>
        <ion-img src="/assets/img/header/burger-logo.svg"></ion-img>
      </ion-item>
    </div>

    <ion-list>
      <ion-item button detail="true" lines="none">
        <ion-label color="dark">Политика</ion-label>
      </ion-item>
      <ion-item button detail="true" lines="none">
        <ion-label color="dark">Правоохранительные органы</ion-label>
      </ion-item>
      <ion-item button detail="true" lines="none">
        <ion-label color="dark">Гос. органы</ion-label>
      </ion-item>
      <ion-item button detail="true" lines="none">
        <ion-label color="dark">Суды</ion-label>
      </ion-item>
      <ion-item button detail="true" lines="none">
        <ion-label color="dark">Фоторепортажи</ion-label>
      </ion-item>
      <ion-item button detail="true" lines="none">
        <ion-label color="dark">Видео</ion-label>
      </ion-item>
      <ion-item button detail="true" lines="none">
        <ion-label color="dark">Настройки</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/profile']" button detail="true" lines="none">
        <ion-label color="dark">Профиль</ion-label>
      </ion-item>
    </ion-list>
   
    <div class="social">
      <p>Мы в соцсетях</p>
      <ion-item lines="none">
        <ion-icon src="/assets/img/footer/facebook.svg"></ion-icon>
        <ion-icon src="/assets/img/footer/telegram.svg"></ion-icon>
        <ion-icon src="/assets/img/footer/inst.svg"></ion-icon>
        <ion-icon src="/assets/img/footer/youtube.svg"></ion-icon>
        <ion-icon src="/assets/img/footer/tiktok.svg"></ion-icon>
      </ion-item>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-content">
    <nav class="scroll-nav">
      <ul>
        <li class="active">Политика</li> 
        <li>Правоохранительные органы</li>
        <li>Гос. органы</li>
        <li>Суды</li>
        <li>Жизнь и Общество</li>
        <li>Фоторепортажи</li>
        <li>Реклама</li>
      </ul>
    </nav>

    <div class="news-wrapper">
      <ion-grid slot="start">

        <ion-row>
          <ion-col>
            <ion-card class="main-news" (click)="showNewsModal()">
              <ion-img src="/assets/img/card/news.jpg"></ion-img>

              <ion-card-header>
                <ion-card-title color="white">Токаев чиновникам: Испытывать терпение казахстанцев бесконечно нельзя</ion-card-title>
                <ion-item lines="none">
                  <ion-text>14 июля, 18:05</ion-text>

                  <ion-text slot="end">•</ion-text>
                  <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
                  <ion-text slot="end">451</ion-text>
                  <ion-text slot="end">•</ion-text>
                  <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
                  <ion-text slot="end">14</ion-text>
                </ion-item>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-md="4">
            <ion-card>
              <div class="card-content">
                <ion-img src="/assets/img/card/2.svg"></ion-img>

                <ion-card-header>
                  <ion-card-title>Чипирование кошек и собак: полиция будет проводить поквартирный обход</ion-card-title>
                </ion-card-header>
              </div>

              <ion-item lines="none">
                <ion-text>14 июля, 18:05</ion-text>

                <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
                <ion-text slot="end">451</ion-text>
                <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
                <ion-text slot="end">14</ion-text>
              </ion-item>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-md="4">
            <ion-card>
              <div class="card-content">
                <ion-img src="/assets/img/card/4.svg"></ion-img>

                <ion-card-header>
                  <ion-card-title>Чипирование кошек и собак: полиция будет проводить поквартирный обход</ion-card-title>
                </ion-card-header>
              </div>

              <ion-item lines="none">
                <ion-text>14 июля, 18:05</ion-text>

                <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
                <ion-text slot="end">451</ion-text>
                <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
                <ion-text slot="end">14</ion-text>
              </ion-item>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-md="4">
            <ion-card>
              <div class="card-content">
                <ion-img src="/assets/img/card/3.svg"></ion-img>

                <ion-card-header>
                  <ion-card-title>Чипирование кошек и собак: полиция будет проводить поквартирный обход</ion-card-title>
                </ion-card-header>
              </div>

              <ion-item lines="none">
                <ion-text>14 июля, 18:05</ion-text>

                <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
                <ion-text slot="end">451</ion-text>
                <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
                <ion-text slot="end">14</ion-text>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-md="4">
            <ion-card>
              <div class="card-content">
                <ion-img src="/assets/img/card/4.svg"></ion-img>

                <ion-card-header>
                  <ion-card-title>Чипирование кошек и собак: полиция будет проводить поквартирный обход</ion-card-title>
                </ion-card-header>
              </div>

              <ion-item lines="none">
                <ion-text>14 июля, 18:05</ion-text>

                <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
                <ion-text slot="end">451</ion-text>
                <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
                <ion-text slot="end">14</ion-text>
              </ion-item>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-md="4">
            <ion-card>
              <div class="card-content">
                <ion-img src="/assets/img/card/5.svg"></ion-img>

                <ion-card-header>
                  <ion-card-title>Чипирование кошек и собак: полиция будет проводить поквартирный обход</ion-card-title>
                </ion-card-header>
              </div>

              <ion-item lines="none">
                <ion-text>14 июля, 18:05</ion-text>

                <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
                <ion-text slot="end">451</ion-text>
                <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
                <ion-text slot="end">14</ion-text>
              </ion-item>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-md="4">
            <ion-card>
              <div class="card-content">
                <ion-img src="/assets/img/card/2.svg"></ion-img>

                <ion-card-header>
                  <ion-card-title>Чипирование кошек и собак: полиция будет проводить поквартирный обход</ion-card-title>
                </ion-card-header>
              </div>

              <ion-item lines="none">
                <ion-text>14 июля, 18:05</ion-text>

                <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
                <ion-text slot="end">451</ion-text>
                <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
                <ion-text slot="end">14</ion-text>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list slot="end" class="side-list-card">
        <ion-item lines="none" class="title">
          <div class="title__vertical-line"></div>
          <ion-text>Актуальные новости</ion-text>
        </ion-item>

        <ion-item>
          <ion-card>
            <div class="horizontally-content">
              <ion-thumbnail>
                <ion-img src="/assets/img/card/5.svg"></ion-img>
              </ion-thumbnail>

              <ion-card-header>
                <ion-card-title>В КТЖ обсудили вопросы перевозок зерна нового</ion-card-title>
                <ion-card-subtitle>Министерства индустрии и инфраструктурного развития</ion-card-subtitle>
              </ion-card-header>
            </div>


            <ion-item lines="none">
              <ion-text>14 июля, 18:05</ion-text>

              <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
              <ion-text slot="end">451</ion-text>
              <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
              <ion-text slot="end">14</ion-text>
            </ion-item>
          </ion-card>
        </ion-item>

      </ion-list>
    </div>

    <div class="news-wrapper">
      <ion-grid>
        <ion-item lines="none" class="title">
          <div class="title__vertical-line"></div>
          <ion-text>Новости по рубрикам</ion-text>
        </ion-item>

        <div class="horizontally-line"></div>
        <ion-row>
          <ion-col size="12" size-md="4">
            <ion-card class="news-category">
              <div class="card-content">
                <ion-img src="/assets/img/card/4.svg"></ion-img>

                <ion-card-header>
                  <ion-card-title>Чипирование кошек и собак: полиция будет проводить поквартирный обход</ion-card-title>
                </ion-card-header>
              </div>

              <ion-item lines="none">
                <ion-text>14 июля, 18:05</ion-text>

                <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
                <ion-text slot="end">451</ion-text>
                <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
                <ion-text slot="end">14</ion-text>
              </ion-item>

              <div class="title-category">
                <span>Политика</span>
              </div>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-md="4">
            <ion-card class="news-category">
              <div class="card-content">
                <ion-img src="/assets/img/card/2.svg"></ion-img>

                <ion-card-header>
                  <ion-card-title>Чипирование кошек и собак: полиция будет проводить поквартирный обход</ion-card-title>
                </ion-card-header>
              </div>

              <ion-item lines="none">
                <ion-text>14 июля, 18:05</ion-text>

                <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
                <ion-text slot="end">451</ion-text>
                <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
                <ion-text slot="end">14</ion-text>
              </ion-item>

              <div class="title-category">
                <span>Политика</span>
              </div>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-md="4">
            <ion-card class="news-category">
              <div class="card-content">
                <ion-img src="/assets/img/card/3.svg"></ion-img>

                <ion-card-header>
                  <ion-card-title>Чипирование кошек и собак: полиция будет проводить поквартирный обход</ion-card-title>
                </ion-card-header>
              </div>

              <ion-item lines="none">
                <ion-text>14 июля, 18:05</ion-text>

                <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
                <ion-text slot="end">451</ion-text>
                <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
                <ion-text slot="end">14</ion-text>
              </ion-item>

              <div class="title-category">
                <span>Политика</span>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-md="4">
            <ion-card class="news-category">
              <div class="card-content">
                <ion-img src="/assets/img/card/5.svg"></ion-img>

                <ion-card-header>
                  <ion-card-title>Чипирование кошек и собак: полиция будет проводить поквартирный обход</ion-card-title>
                </ion-card-header>
              </div>

              <ion-item lines="none">
                <ion-text>14 июля, 18:05</ion-text>

                <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
                <ion-text slot="end">451</ion-text>
                <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
                <ion-text slot="end">14</ion-text>
              </ion-item>

              <div class="title-category">
                <span>Политика</span>
              </div>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-md="4">
            <ion-card class="news-category">
              <div class="card-content">
                <ion-img src="/assets/img/card/3.svg"></ion-img>

                <ion-card-header>
                  <ion-card-title>Чипирование кошек и собак: полиция будет проводить поквартирный обход</ion-card-title>
                </ion-card-header>
              </div>

              <ion-item lines="none">
                <ion-text>14 июля, 18:05</ion-text>

                <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
                <ion-text slot="end">451</ion-text>
                <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
                <ion-text slot="end">14</ion-text>
              </ion-item>

              <div class="title-category">
                <span>Политика</span>
              </div>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-md="4">
            <ion-card class="news-category">
              <div class="card-content">
                <ion-img src="/assets/img/card/5.svg"></ion-img>

                <ion-card-header>
                  <ion-card-title>Чипирование кошек и собак: полиция будет проводить поквартирный обход</ion-card-title>
                </ion-card-header>
              </div>

              <ion-item lines="none">
                <ion-text>14 июля, 18:05</ion-text>

                <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
                <ion-text slot="end">451</ion-text>
                <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
                <ion-text slot="end">14</ion-text>
              </ion-item>

              <div class="title-category">
                <span>Политика</span>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
        <div class="horizontally-line"></div>
      </ion-grid>

      <ion-list slot="end" class="side-list-card">
        <ion-item lines="none" class="title">
          <div class="title__vertical-line"></div>
          <ion-text>Что нового в стране</ion-text>
        </ion-item>

        <ion-item lines="none">
          <ion-card class="main-news" (click)="showNewsModal()">
            <ion-img src="/assets/img/card/news.jpg"></ion-img>

            <ion-card-header>
              <ion-card-title color="white">В КТЖ обсудили вопросы перевозок зерна нового</ion-card-title>
              <ion-item lines="none">
                <ion-text>14 июля, 18:05</ion-text>

                <ion-text slot="end">•</ion-text>
                <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
                <ion-text slot="end">451</ion-text>
                <ion-text slot="end">•</ion-text>
                <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
                <ion-text slot="end">14</ion-text>
              </ion-item>
            </ion-card-header>
          </ion-card>
        </ion-item>

      </ion-list>
    </div>

    <div class="news-wrapper">
      <ion-grid>
        <ion-item lines="none" class="title">
          <div class="title__vertical-line"></div>
          <ion-text>Фоторепортажи</ion-text>
        </ion-item>

        <ion-row>
          <ion-col size="12" size-md="8">
            <ion-card class="main-news-photo">

              <ion-img src="/assets/img/card/2.svg"></ion-img>

              <ion-card-header>
                <ion-card-title>Чипирование кошек и собак: полиция будет проводить поквартирный обход</ion-card-title>
                <ion-item lines="none">
                  <ion-text>14 июля, 18:05</ion-text>

                  <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
                  <ion-text slot="end">451</ion-text>
                  <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
                  <ion-text slot="end">14</ion-text>
                </ion-item>
              </ion-card-header>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-md="4">
            <ion-card class="news-photo">
              <div class="card-content">
                <div class="img-block">
                  <ion-img src="/assets/img/card/3.svg"></ion-img>
                  <div class="category-title">
                    <ion-icon src="/assets/img/icons/camera.svg"></ion-icon>
                  </div>
                </div>

                <ion-card-header>
                  <ion-card-title>Чипирование кошек и собак: полиция будет проводить поквартирный обход</ion-card-title>
                </ion-card-header>
              </div>

              <ion-item lines="none">
                <ion-text>14 июля, 18:05</ion-text>

                <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
                <ion-text slot="end">451</ion-text>
                <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
                <ion-text slot="end">14</ion-text>
              </ion-item>
            </ion-card>

            <ion-card class="news-photo">
              <div class="card-content">
                <div class="img-block">
                  <ion-img src="/assets/img/card/4.svg"></ion-img>
                  <div class="category-title">
                    <ion-icon src="/assets/img/icons/camera.svg"></ion-icon>
                  </div>
                </div>

                <ion-card-header>
                  <ion-card-title>Чипирование кошек и собак: полиция будет проводить поквартирный обход</ion-card-title>
                </ion-card-header>
              </div>

              <ion-item lines="none">
                <ion-text>14 июля, 18:05</ion-text>

                <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
                <ion-text slot="end">451</ion-text>
                <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
                <ion-text slot="end">14</ion-text>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list slot="end" class="side-list-card">
        <ion-item lines="none" class="title">
          <div class="title__vertical-line"></div>
          <ion-text>Что нового в спорте</ion-text>
        </ion-item>

        <ion-item lines="none">
          <ion-card>
            <div class="horizontally-content">
              <ion-thumbnail>
                <ion-img src="/assets/img/card/5.svg"></ion-img>
              </ion-thumbnail>

              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </div>


            <ion-item lines="none">
              <ion-text>14 июля, 18:05</ion-text>

              <ion-icon slot="end" src="/assets/img/card/eye.svg"></ion-icon>
              <ion-text slot="end">451</ion-text>
              <ion-icon slot="end" src="/assets/img/card/message.svg"></ion-icon>
              <ion-text slot="end">14</ion-text>
            </ion-item>
          </ion-card>
        </ion-item>

      </ion-list>
    </div>
  </div>

  <footer class="footer">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="3">
          <ion-img src="/assets/img/header/logo.svg"></ion-img>
        </ion-col>

        <ion-col size="12" size-md="3">
          <p>О портале</p>
          <p class="footer-sub-text">Новостной портал Казахстана, только свежие новости со всего мира!</p>
        </ion-col>

        <ion-col size="12" size-md="3">
          <p>Политика</p>
          <p>Правоохранительные органы</p>
          <p>Гос. органы</p>
          <p>Жизнь и Общество</p>
        </ion-col>

        <ion-col size="12" size-md="3">
          <p>Фоторепортажи</p>
          <p>Видео</p>
          <p>О Компании</p>
          <p>Контакты</p>
        </ion-col>

        <ion-col size="12" size-md="3">
          <p>Партнеры</p>
          <p>Пользовательское соглашение</p>
        </ion-col>

        <ion-col size="12" size-md="3">
          <p>Реклама</p>
          <p>Пользовательское соглашение</p>
        </ion-col>

        <ion-col size="12" size-md="3">
          <ion-item lines="none">
            <ion-img src="/assets/img/footer/ws.svg"></ion-img>
            <ion-text>
              <a href="">+7 701 102 10 02</a>
            </ion-text>
          </ion-item>
          <p>Мы в соцсетях</p>
          <ion-item lines="none">
            <ion-icon src="/assets/img/footer/facebook.svg"></ion-icon>
            <ion-icon src="/assets/img/footer/telegram.svg"></ion-icon>
            <ion-icon src="/assets/img/footer/inst.svg"></ion-icon>
            <ion-icon src="/assets/img/footer/youtube.svg"></ion-icon>
            <ion-icon src="/assets/img/footer/tiktok.svg"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </footer>
</ion-content>

