<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none" class="burger-menu__header">
      <ion-img (click)="modalDismiss()" src="/assets/img/header/burger-close.svg"></ion-img>
      <ion-img src="/assets/img/header/burger-logo.svg"></ion-img>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="register" [fullscreen]="true">
  <div class="main-content">
    <div class="auth-wrapper">
      <p class="auth-title">Авторизация</p>

      <ion-item lines="none">
        <ion-label position="stacked">Почта</ion-label>
        <ion-input placeholder="Email"></ion-input>
      </ion-item>
  
      <ion-item lines="none">
        <ion-label position="stacked">Имя</ion-label>
        <ion-input placeholder="Имя"></ion-input>
      </ion-item>
  
      <ion-button (click)="sendOtpCode()">Сохранить</ion-button>
    </div>
  </div>
</ion-content>


<ion-content *ngIf="!register" [fullscreen]="true">
  <div class="main-content">
    <div class="auth-wrapper">
      <p class="auth-title">Регистрация</p>

      <ion-item lines="none">
        <ion-label position="stacked">Почта</ion-label>
        <ion-input placeholder="Email"></ion-input>
      </ion-item>
  
      <ion-item lines="none">
        <ion-label position="stacked">Имя</ion-label>
        <ion-input placeholder="Имя"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Пароль</ion-label>
        <ion-input placeholder="Пароль"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Повторить пароль</ion-label>
        <ion-input placeholder="Повторить пароль"></ion-input>
      </ion-item>

      <!-- <ion-button *ngIf="isAppleOS" (click)="signInWithApple()" class="apple-sign-btn fs-18">
        <ion-icon src="assets/img/exit/apple.svg"></ion-icon>
        {{ 'auth.btn.apple' | transloco }}
      </ion-button>
      <ion-button (click)="signInWithGoogle()" class="google-sign-btn fs-18">
        <ion-img src="assets/img/exit/google.svg"></ion-img>
        <ion-text color="secondary">{{ 'auth.btn.google' | transloco }}</ion-text>
      </ion-button> -->
  
      <ion-button (click)="modalDismiss()">Сохранить</ion-button>
      <p>Забыли пароль?</p>
    </div>
  </div>
</ion-content>