.header-top-line {
  ion-item {
    ion-text {
      margin: 0 19px;
      white-space: nowrap;
    }
  }
}

.main-news-photo {
  position: relative;

    ion-img {
      height: 435px;
    }
}

.news-photo {

  ion-img {
    height: 195px;
  }
}

.category-scroll-line {
  overflow-x: auto;

  ion-item {
    ion-text {
      margin-right: 30px;
      color: #A1A1A1;
      cursor: pointer;
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: 720px) {

  ion-card {

    .card-content {
      display: flex;

      ion-card-header {
        padding-top: 0;
        padding-left: 16px;
      }
    }
  }

  .main-news-photo {
    position: relative;

    ion-img {
      height: auto;
    }

    ion-card-header {
      position: absolute;
      left: 10px;
      bottom: 20px;

      ion-item {
        --background: auto;
      }
    }
  }

  .news-photo {
    .img-block {
      position: relative;

      .category-title {
        width: 30px;
        height: 30px;
      }
    }

    ion-img {
      height: 100%;
    }
  }

  .news-category {
    .title-category {
      padding: 5px 8px;
      top: 5px;
      left: 5px;
    }
  }
}

