<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-top-line">
      <ion-item lines="none">
        <ion-back-button slot="start" color="light" text="" icon="arrow-back-outline"></ion-back-button>
        <ion-img slot="start" class="logo logo-mobile" src="/assets/img/header/burger-logo.svg"></ion-img>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-content">
    <p class="profil-title">Реклама</p>

    <p class="text">По вопросам размещения рекламы и PR-материалов, 
      условиям сотрудничества (скидки, бонусы, 
      финансовые и юридические требования)</p>

    <div class="whatsapp">
      <p>Размещение рекламы:</p>

      <div class="block-item">
        <ion-img src="/assets/img/whatsApp.svg"></ion-img>
        <a href="">+7 701 102 10 02</a>
      </div>
    </div>

    <div class="line"></div>

    <div class="download">
      <div class="block-item">
        <ion-img src="/assets/img/file.svg"></ion-img>
        <a href="">Скачать прайс</a>
      </div>

      <div class="block-item">
        <ion-img src="/assets/img/file.svg"></ion-img>
        <a href="">Правила размещения рекламы на сайте</a>
      </div>
    </div>
  </div>
</ion-content>
