<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-top-line">
      <ion-item lines="none">
        <ion-back-button slot="start" color="light" text="" icon="arrow-back-outline"></ion-back-button>
        <ion-img slot="start" class="logo logo-mobile" src="/assets/img/header/burger-logo.svg"></ion-img>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-content">
    <p class="profil-title">Правила пользования</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dignissim ipsum ac sapien gravida,
      aliquet aliquet ex tempus. Vivamus ex sem, scelerisque eget enim quis, imperdiet interdum ligula.
      Curabitur interdum pharetra sem sit amet imperdiet. Pellentesque quam ante, posuere a facilisis sed, sagittis ut ante.
      Nullam ac est diam. Aenean venenatis metus dui, vitae eleifend urna posuere in.
      Mauris enim tortor, ultrices id feugiat ac, dictum facilisis mi.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra,
      per inceptos himenaeos. Proin sed hendrerit lorem. Integer ut gravida dolor.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget eleifend purus.
      Quisque ut commodo ex, sed venenatis massa. Nulla facilisi.
      Maecenas id nunc quis libero consequat aliquam sit amet sed eros.</p>
  </div>
</ion-content>
